
.darkmode {

    background: #000;
    transition: .5s ease;

    .bx-moon {
        color: #fff;
        opacity: 1;
        transition: .5s ease;
    }
    .bx-sun {
        opacity: 0;
        transition: .5s ease;
    }
    h1 {
        color: #ffffff;
        transition: .5s;
    }

    
}

.form-check {
    position: fixed;
    bottom: 1%;
    right: 1%;
}
.form-check-input {
    position: fixed;
    bottom: 1.5%;
    right: 3%;
}

.bx-sun {
    transition: .5s ease;
    font-size: 1.5rem;
    position: fixed;
    bottom: 1%;
    right: 1%;
}
.bx-moon {
    transition: .5s ease;
    font-size: 1.5rem;
    opacity: 1;
    position: fixed;
    bottom: 1%;
    right: 1%;
    opacity: 0;
}